<div class="meme">
    <a href="#" class="meme-title">{{title}}</a>
    <br>
    <a href="#"><img class="meme-image"
            src="{{imageUrl}}"></a>
    <div class="info">

        <div id="data-buttons">
            <a href="#" class="custom-button">Check Out</a>
            {{#if isCreator}}
            <a href="#/editMeme/{{_id}}" class="custom-button">Edit</a>
            <a href="#/deleteMeme/{{_id}}" class="custom-button">Delete</a>
            <a href="#/user/{{_acl.creator}}" class="creator">Creator: {{creator}}</a>
            {{else}}
            <a href="#/user/{{_acl.creator}}" class="creator">Creator: {{creator}}</a>
            {{/if}}
        </div>
    </div>
    <hr>
</div>